
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }

  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

.montserrat-light {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.montserrat-semibold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.fraunces-bold {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

:root {
    --Darkcyan: hsl(158, 36%, 37%);
    --Darkcyanhover: #1a4031;
    --Cream: hsl(30, 38%, 92%);
    --Verydarkblue: hsl(212, 21%, 14%);
    --Darkgrayishblue: hsl(228, 12%, 48%);

    --black: hsl(0, 0%, 0%, 1);
    --DarkGray: hsl(0, 0%, 0%, .7);
    --Gray: hsl(0, 0%, 0%, .7);

}

body {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--Cream);
    height: 100dvh;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    width: auto;
    font-size: 14px;
    max-width: 600px;
    max-height: 450px;
}

.product-image-mobile {
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.container {
    padding: 2rem;
    padding-bottom: 1.25;
    padding-top: 1.25;
}

@media only screen and (min-width: 600px) {
    .card {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .product-image-mobile {
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-top-right-radius: 0;
    }
}

.perfume-label {
    color: var(--Gray);
    letter-spacing: .3rem;
    font-size: .88rem;
    margin-top: 0;
}

.perfume-name {
    color: var(--black);
    font-size: 2rem;
    line-height: 1.125;
    margin: 0;
}

.description {
    color: var(--Gray);
    font-size: .88rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.prices {
    display: flex;
    align-items: center;
    gap: .88rem;
    margin-bottom: 1rem;
}

.discounted-price {
    color: var(--Darkcyan);
    font-size: 2rem;
}

.original-price {
    color: var(--Gray);
    font-size: 1rem;
    text-decoration: line-through;
}

.cart-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--Darkcyan);
    border-radius: 5px;
    color: white;
    padding: .88rem;
    border: none;
    width: 100%;
    gap: .88rem;
}

.cart-button:hover {
    background-color: var(--Darkcyanhover);
}
